<h4>Categorias: </h4>
<hr>

{{#each categoria}}
    <a href="/categorias/{{slug}}">
        <h5>{{nome}}</h5>
    </a>
{{else}}
    <h4 class="mt-4">Nenhuma categoria registrada</h4>
{{/each}}